[Unit]
Description=NvidiaTweaker coolbit hack to normalize the gpu from extremely slow to super slow

[Service]
Type=simple
ExecStart=/bin/bash -c "echo $(bash /etc/DeviceOptimization/NvidiaTweaks/nvidiaHeadlessTweaker.sh > /etc/DeviceOptimization/NvidiaTweaks/nvidiafbcoolbitHack.log 2>&1)"

[Install]
WantedBy=default.target
